@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Dancing+Script:wght@700&family=IBM+Plex+Mono:wght@100&family=Noto+Sans:wght@200&family=Raleway:wght@200&family=Work+Sans:ital,wght@1,300&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Arial", sans-serif;
  background-color: transparent;
  color: black;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
header {
  padding: 2px;
}
li a {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
.container {
  display: flex;
  justify-content: space-around;
}

/*header {
  position: absolute;
  top: 0;
  text-align: center;
  display: grid;
  place-items: center;
  background-color: black;
  width: 100%;
}*/
h1 {
  font-family: "Cursive", sans-serif;
  color: gold;
  text-align: center;
}

.container4 p {
  max-width: 600px;
  margin: 20px auto;
  padding: 50px;
  background-color: transparent;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bigbox {
  width: 400px;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
}
p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

span {
  font-weight: bold;
  color: gold;
}

.image1 {
  background-image: url("swimming.jpg");
  background-size: cover;
}
.image2 {
  background-image: url("read.jpg");
  background-size: cover;
}
.image3 {
  background-image: url("viazi.jpg");
  background-repeat: no-repeat;

  background-size: cover;
}

.content {
  padding: 25px;
  height: 105px;
  border-radius: 20px;
  font-weight: 100%;
  font-size: 17px;
  width: 200px;
  text-align: center;
  /*  font-family: "Crimson Pro", serif;
  font-family: "Dancing Script", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Noto Sans", sans-serif;
  font-family: "Raleway", sans-serif; */
  font-family: "Work Sans", sans-serif;

  padding: 40px;

  color: rgb(172, 169, 169);
  background-color: rgba(0, 0, 0, 0.81);
}

section {
  width: 250px;
  display: flex;
  place-items: center;
  align-content: center;
  border-radius: 20px;
  margin: 50px;
}
section .image1 .image2 .image3 {
}
